################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GhseeliApis/test-remote-db.ps1
/scripts/http-tests/artifacts/
/scripts/http-tests/*.local.json
